<!DOCTYPE html>
<html>
  <head>
    <title>webcamp-bookers1</title>
   <%= csrf_meta_tags %>
   <%# csp_meta_tag エラーが出たためメンターさんの指示で削除%>
   <script src="https://kit.fontawesome.com/052443d2aa.js" crossorigin="anonymous"></script>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>